/*
 * This is a manifest file that'll be compiled into application.css, which will
 * include all the files listed below.
 * 
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets,
 * vendor/assets/stylesheets, or vendor/assets/stylesheets of plugins, if any,
 * can be referenced here using a relative path.
 * 
 * You're free to add application-wide styles to this file and they'll appear
 * at the top of the compiled file, but it's generally better to create a new
 * file per style scope.
 * 


 */
/* START_HIGHLIGHT */
/* line 19, /home/test/Documents/sites/depot/app/assets/stylesheets/application.css.scss */
#banner {
  background: #9c9;
  padding: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times New Roman", serif;
  color: #282;
  text-align: center;
}
/* line 27, /home/test/Documents/sites/depot/app/assets/stylesheets/application.css.scss */
#banner img {
  float: left;
}

/* line 32, /home/test/Documents/sites/depot/app/assets/stylesheets/application.css.scss */
#notice {
  color: #000 !important;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}

/* line 41, /home/test/Documents/sites/depot/app/assets/stylesheets/application.css.scss */
#columns {
  background: #141;
}
/* line 44, /home/test/Documents/sites/depot/app/assets/stylesheets/application.css.scss */
#columns #main {
  margin-left: 17em;
  padding: 1em;
  background: white;
}
/* line 50, /home/test/Documents/sites/depot/app/assets/stylesheets/application.css.scss */
#columns #side {
  float: left;
  padding: 1em 2em;
  width: 13em;
  background: #141;
}
/* line 56, /home/test/Documents/sites/depot/app/assets/stylesheets/application.css.scss */
#columns #side ul {
  padding: 0;
}
/* line 58, /home/test/Documents/sites/depot/app/assets/stylesheets/application.css.scss */
#columns #side ul li {
  list-style: none;
}
/* line 60, /home/test/Documents/sites/depot/app/assets/stylesheets/application.css.scss */
#columns #side ul li a {
  color: #bfb;
  font-size: small;
}

/* END_HIGHLIGHT */
/* START_HIGHLIGHT */
/* line 7, /home/test/Documents/sites/depot/app/assets/stylesheets/carts.scss */
.carts .item_price, .carts .total_line {
  text-align: right;
}
/* line 10, /home/test/Documents/sites/depot/app/assets/stylesheets/carts.scss */
.carts .total_line .total_cell {
  font-weight: bold;
  border-top: 1px solid #595;
}

/* END_HIGHLIGHT */
/* line 6, /home/test/Documents/sites/depot/app/assets/stylesheets/products.scss */
.products table {
  border-collapse: collapse;
}
/* line 10, /home/test/Documents/sites/depot/app/assets/stylesheets/products.scss */
.products table tr td {
  padding: 5px;
  vertical-align: top;
}
/* line 15, /home/test/Documents/sites/depot/app/assets/stylesheets/products.scss */
.products .list_image {
  width: 60px;
  height: 70px;
}
/* line 20, /home/test/Documents/sites/depot/app/assets/stylesheets/products.scss */
.products .list_description {
  width: 60%;
}
/* line 22, /home/test/Documents/sites/depot/app/assets/stylesheets/products.scss */
.products .list_description dl {
  margin: 0;
}
/* line 26, /home/test/Documents/sites/depot/app/assets/stylesheets/products.scss */
.products .list_description dt {
  color: #244;
  font-weight: bold;
  font-size: larger;
}
/* line 32, /home/test/Documents/sites/depot/app/assets/stylesheets/products.scss */
.products .list_description dd {
  margin: 0;
}
/* line 37, /home/test/Documents/sites/depot/app/assets/stylesheets/products.scss */
.products .list_actions {
  font-size: x-small;
  text-align: right;
  padding-left: 1em;
}
/* line 43, /home/test/Documents/sites/depot/app/assets/stylesheets/products.scss */
.products .list_line_even {
  background: #e0f8f8;
}
/* line 47, /home/test/Documents/sites/depot/app/assets/stylesheets/products.scss */
.products .list_line_odd {
  background: #f8b0f8;
}
/* line 1, /home/test/Documents/sites/depot/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, /home/test/Documents/sites/depot/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, /home/test/Documents/sites/depot/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, /home/test/Documents/sites/depot/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 24, /home/test/Documents/sites/depot/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 28, /home/test/Documents/sites/depot/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 35, /home/test/Documents/sites/depot/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 40, /home/test/Documents/sites/depot/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 44, /home/test/Documents/sites/depot/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 50, /home/test/Documents/sites/depot/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 58, /home/test/Documents/sites/depot/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 69, /home/test/Documents/sites/depot/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/* START_HIGHLIGHT */
/* line 7, /home/test/Documents/sites/depot/app/assets/stylesheets/store.scss */
.store {
  /* An entry in the store catalog */
}
/* line 8, /home/test/Documents/sites/depot/app/assets/stylesheets/store.scss */
.store h1 {
  margin: 0;
  padding-bottom: 0.5em;
  font: 150% sans-serif;
  color: #226;
  border-bottom: 3px dotted #77d;
}
/* line 17, /home/test/Documents/sites/depot/app/assets/stylesheets/store.scss */
.store .entry {
  overflow: auto;
  margin-top: 1em;
  border-bottom: 1px dotted #77d;
  min-height: 100px;
}
/* line 23, /home/test/Documents/sites/depot/app/assets/stylesheets/store.scss */
.store .entry img {
  width: 80px;
  margin-right: 5px;
  margin-bottom: 5px;
  position: absolute;
}
/* line 30, /home/test/Documents/sites/depot/app/assets/stylesheets/store.scss */
.store .entry h3 {
  font-size: 120%;
  font-family: sans-serif;
  margin-left: 100px;
  margin-top: 0;
  margin-bottom: 2px;
  color: #227;
}
/* line 39, /home/test/Documents/sites/depot/app/assets/stylesheets/store.scss */
.store .entry p, .store .entry div.price_line {
  margin-left: 100px;
  margin-top: 0.5em;
  margin-bottom: 0.8em;
}
/* line 44, /home/test/Documents/sites/depot/app/assets/stylesheets/store.scss */
.store .entry p form, .store .entry p div, .store .entry div.price_line form, .store .entry div.price_line div {
  display: inline;
}
/* line 49, /home/test/Documents/sites/depot/app/assets/stylesheets/store.scss */
.store .entry .price {
  color: #44a;
  font-weight: bold;
  margin-right: 3em;
}

/* END_HIGHLIGHT */
